@model PagedList.IPagedList<TestTemplate.Models.San>
@using PagedList.Mvc;


@{
    ViewBag.Title = "DanhSachSan";
    Layout = "~/Areas/Admin/Views/Shared/LayoutAdmin.cshtml";
}

<h2>Danh sách sân </h2>


<table class="table">
    <tr>
        <th>
            <label class="control-label col-md-10 ">Số sân</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Giá tiền</label>
        </th>
        <th>
            <label class="control-label col-md-10 ">Danh mục sân</label>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaSan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhMucSan.LoaiSan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MaSan }) |
                @Html.ActionLink("Details", "Details", new { id = item.MaSan }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MaSan })
            </td>
        </tr>
    }

</table>
<div class="dlink">
    @Html.PagedListPager(Model, page => Url.Action("DanhSachSan", new { page = page }))
</div>
